body {
   margin: 0;
  padding: 0;
  height: 200vh;
  background-color: #f0f0f0;
}

p {
  position: fixed;
  top: 357px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(148, 156, 140);
}

.hele_bom {
  position: fixed;
  top: 231px;
  left: 0;
  right: 0;
  z-index: 1;
}
.draden {
  display: flex;
  gap: 0px;
  justify-content: center;
}

.draden img {
  width: 100px;
  object-fit:fill;
  cursor: pointer;
}
.bom {
  display: flex;
  justify-content: center;
}
.bom img {
  width: 400px;
  object-fit: fill;
}
.knoppen {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 11px;
  position: fixed;
  top: 593px;
  left: 50%;
  transform: translate(-50%, -50%); /* https://www.geeksforgeeks.org/how-to-center-an-element-using-positionfixed-in-css/ gebruikt voor deze code */
  z-index: 2; 
}
.knoppen img {
  width: 115px;
  cursor: pointer;
  transition: transform 0.1s ease,
}

.knoppen img:active {
  transform: scale(97%);
}



#random_serie{
  position: fixed;
  top: 728px;
  left: 57.5%;
  width: 45px;
}


.instructies {
  display: flex;
  position: relative;
  z-index: 3; 
  margin-top: 100vh;
  justify-content: center;
  margin-left: 90px;
}

#glitter{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 300px;
  width: 1900px;
  z-index: 4;
  display: none;
}
  #gewonnen{
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    z-index: 5;
    display: none;
  }

  #opnieuw{
    position: fixed;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    display: none;
    z-index: 6;
    cursor: pointer;
  }

#clear{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4000px;
    display: none;
    z-index: 4;
  }

  #explosie{
    position: fixed;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1900px;
    z-index: 5;
    display: none;
  }